body {
	min-width: 320px;
	color: $color-text;
	font-family: $main-font;
	background-color: $color-bg;
	width: 100%;
    overflow-x: hidden;

	a {
		color: $color-anchor;
		-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
        -webkit-font-smoothing: antialiased;

        @include transition(color 0.4s ease);

		&:focus, &:hover, &:active, &.active {
			color: $color-anchor-hover;
			background-color: transparent;
            outline: none;
            border: none;
		}
        &:selected, &:visited {
            border: none;
            outline: none;
        }
        /*a:active, a:selected, a:visited { 
            border: none !important;
            outline: none !important;
        }*/
		cursor: pointer;
	}
}

* {
    @include box-sizing(border-box);
}

img {
    max-width: 100%;
    border: 0;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.ns {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.row.loader, .row.view-more{
    margin:0;
}

.loader {
    display: none;
    img{
        width: 32px;
        margin: 0 auto;
        display: block;
    }
}

.rule {
	width: 100%;
	height: 1px;
	background-color: $black;
}

.rule-grey {
	background-color: #f1f1f1;
}

.blur {
	-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    opacity: 1;
    transition: 0.5s filter ease;
    -webkit-transition: 0.5s -webkit-filter ease;
	-moz-transition: 0.5s -moz-filter ease;
	-ms-transition: 0.5s -ms-filter ease;
	-o-transition: 0.5s -o-filter ease;
}

.close {
	color: $color-text;
	opacity: .8;

	&:hover {
		opacity: 1;
	}
}

.btn-action {
	min-width: 175px;
	line-height: 34px;
	font-family: $bold-font;
	font-size: 0.88785714285714em;
	background: $turquoise !important;
	text-transform: uppercase;
	color: $white !important;
	border-radius: 26px;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	text-align: center;
	padding: 4px 10px 0px 10px !important;
    border: none  !important;

	&:hover {
		color: $white !important;
		background: $dark-turquoise !important;
	}
}

// White Btn
.btn-action-white, .submit input, .acomment-options a, div.activity-comments form input, #buddypress div.activity-comments form div.ac-reply-content a, .form-submit input, .create-event .submit input, div.generic-button a, a.buddyboss_edit_activity, .forum .bbp-submit-wrapper .submit {
    clear: both;
	float: left;
	display: block;
	max-width: 200px !important;
	min-width: 175px !important;
    width: 200px !important;
    height: 34px !important;
	line-height: 34px!important;
	font-family: $bold-font;
	font-size: 0.88785714285714em;
	background: $white !important;
	text-transform: uppercase;
	border: solid $turquoise 1px !important;
	color: $turquoise !important;
	border-radius: 26px!important;
	-moz-border-radius: 26px!important;
	-webkit-border-radius: 26px!important;
	text-align: center;
	opacity: 1 !important;
	margin: 5px 0 0 5px!important;
	padding: 2px 10px 0px 10px !important;

	&:hover {
		color: $white !important;
		background: $dark-turquoise !important;
	}
}

// Turquoise btn
.btn-group a {
    display: block;
    max-width: 200px !important;
    min-width: 175px !important;
    line-height: 34px !important;
    font-family: $bold-font;
    font-size: 0.88785714285714em;
    background: $turquoise;
    text-transform: uppercase;
    border: solid $turquoise 1px !important;
    color: $white !important;
    border-radius: 26px!important;
    -moz-border-radius: 26px !important;
    -webkit-border-radius: 26px !important;
    text-align: center;
    opacity: 1 !important;
    margin: 0px 0 0 0px !important;
    padding: 4px 10px 0px 10px !important;

    &:hover {
        color: $white !important;
        background: $dark-turquoise !important;
    }
}

/* White Button No float or spacing */
#buddypress .search-box input[type=submit], #buddypress input[type=submit][disabled=disabled], .my-bookings input, .messages #messages_search_submit {
    display: block;
    max-width: 200px !important;
    min-width: 175px !important;
    line-height: 34px !important;
    font-family: $bold-font;
    font-size: 0.88785714285714em;
    background: $white;
    text-transform: uppercase;
    border: solid $turquoise 1px !important;
    color: $turquoise !important;
    border-radius: 26px!important;
    -moz-border-radius: 26px !important;
    -webkit-border-radius: 26px !important;
    text-align: center;
    opacity: 1 !important;
    margin: 0px 0 0 0px !important;
    padding: 4px 10px 0px 10px !important;

    &:hover {
        color: $white !important;
        background: $dark-turquoise !important;
    }
}

/* Turquoise Button Create Recipe No float or spacing */
#ingredients-add-box a {
    display: block;
    height: 30px !important;
    line-height: 34px !important;
    font-family: $bold-font;
    background: $turquoise;
    text-transform: uppercase;
    color: $white !important;
    border-radius: 26px!important;
    -moz-border-radius: 26px !important;
    -webkit-border-radius: 26px !important;
    text-align: center;
    opacity: 1 !important;
    margin: 0px 0 0 0px !important;
    padding: -1px 10px 0px 10px !important;

    &:hover {
        color: $white !important;
        background: $dark-turquoise !important;
    }
}

#buddypress div.activity-comments form .ac-textarea {
	border: solid 1px $light-gray-overlay;
	overflow: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

#buddypress div.generic-button a.remove, .is_friend {
    height: 47px;
}

textarea {
    resize: none;
}

input, textarea {
	&:focus {
		outline: none;
	}
}

/* Social Controls */
.social-wrapper{
    ul li{
        z-index: 100;
        font-family: $bold-font;
    }
    .bookmark{
        cursor: pointer;
        padding-left: 17px;
        text-transform: uppercase; 
        &.saved{
            color:$turquoise;
        }
        &:hover{
            color:$turquoise;
        }
    }
    .heart span{
        cursor: pointer;
        display: block;
        width: 100%;
    }
}

/* Global Headlines */
.global-titles {
	width: 100%;

   h2 {
   	    display: block;
	    text-align: center;
	    font-size: 20px;
	    font-family: "BoldSans";
	    letter-spacing: 3px;
	    text-transform: uppercase;
	    color: $soft-black!important;
	    margin: 10px 0px 10px 16px;
	}
	.global-sort {
		float: right;
		font-size: 12px;
	    font-family: "BoldSans";
	    text-transform: uppercase;
	    color: $light-gray-overlay!important;
	    margin: -23px 6% 0px 0px;

	    .option {
	    	color: $soft-black!important;
	    	margin-right: 30px;
	    }
	}

}

/* Common Post Styling */
.global-spacer {
	clear: both;
	display: block;
	height: 50px;
}

.col-md-4 {
	background-color: $white;
}
.post-thumbs {
	margin: 50px 5% 0 5%;

	img {
    	display: inline-block;
    }
    .icon {
    	position: absolute;
    	top: 10px;
    	right: 10%;
    }
    h2 {
    	font-family: $serif-font;
    	font-size: 26px;
    	color: $soft-black;
    }
    h4 {
    	font-family: $bold-font;
    	font-size: 12px;
    	color: $med-gray-alpha;
    }
    p {
    	font-family: $main-font;
    	font-size: 18px;
    	color: $soft-black;
    }
    .text-padding {
    	padding: 0px 30px 0px 30px;
    }
    ul {
    	font-family: $bold-font;
    	font-size: 12px;
    	color: $med-gray-alpha;
    	list-style: none;
    	margin-bottom: 70px;
    }
    li {
    	float: left;
    	margin-right: 10px;
    }
    // .heart {
    // 	display: block;
    // 	width: 40px;
    // 	height: 18px;
    // 	text-align: right;
    // 	padding-top: 2px;
    // 	background: url(#{$img}icon-heart.png) no-repeat;
    // }
    .comment {
    	display: block;
    	width: 32px;
    	height: 18px;
    	text-align: right;
    	padding-top: 2px;
    	background: url(#{$img}icon-comment.png) no-repeat;
    }
    .facebook {
    	display: block;
    	width: 40px;
    	height: 19px;
    	text-align: right;
    	padding-top: 2px;
    	margin-right: 15px;
    	background: url(#{$img}icon-facebook.png) no-repeat;
    }
    .heart:hover, .comment:hover {
        background-position: 0px -18px
    }
    .facebook:hover {
        background-position: 0px -19px
    }
    .home-sub-hero {
    	position: relative;
    	float: left;

    	img {
	    	display: inline-block;
	    }
        .text-wrapper {
        	position: absolute;
        	top: 50%;
        	width: 100%;
        	text-align: center;
        }
	    h1, h4, p, ul {
	    	text-align: center !important;
	    	color: $white;
	    	opacity: 1;
	    	width: 80%;
	    	margin: 0 10% 0 10%;
	    }
	    h1 {
	    	font-family: $serif-font;
	    	font-size: 46px;
	    	bottom: -344px;
	    }
	    ul {
	    	display: block;
	    	width: 14%;
	    	bottom: -460px;
	    	padding: 0px 0px 0px 0px;
	    	margin: 0px 0px 0px 0px;
	    	margin: 0 43% 0 43%;
	    }
	    p {
	    	font-family: $serif-font;
	    	font-size: 24px;
	    	font-weight: lighter;
	    	bottom: -420px;
	    }
        .social-wrapper{
            position: relative;
            bottom: 0;
            right:0;
            top:10px;
            ul {
                width:170px;
                height:20px;
                li {
                    color:$white;
                    display: inline-block;
                }
            }
            .bookmark {
                /*background: url(#{$img}icon-bookmark-white.png) no-repeat;*/
            }
            .comment {
                background: url(#{$img}icon-comment-white.png) no-repeat;
            }
            .heart {
                background: url(#{$img}icon-heart-white.png) no-repeat;
            }
        }
    }
}

.nutrition {
	position: relative;
	float: left;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
	background-color: $white;
	height: auto;
    width: 100%; 

	.hero img {
	    display: inline-block;
        width:100%;
	}
    
	.cta-wrapper {
		position: absolute;
		z-index: 20;
		width: 41%;
		top: 10%;
		left: 10%;
	}
	h1 {
		display: block;
	}
	p {
		display: block;
		font-family: $serif-font;
		font-size: 21px;
		text-align: center;
		width: 74%;
		margin: 5% 13% 5% 13%;
	}
	.logo {
		display: block;
		float: left;
		margin-right: 20px;
	}
	.btn-action {
		display: block;
		width: 50%;
		margin: 0 25% 0 25%;
        text-decoration: none;
	}
}

.nutrition-spacer {
	display: inline-block;
	height: 400px;
}

.view-more {
	text-align: center;
	font-family: $bold-font;
	font-size: 12px;
	color: $light-gray-overlay;
    cursor:pointer;
    width: 100%;
	img {
		margin-bottom: 10px;
	}
}

.home-hero-sub-2 {
	position: relative;
	float: left;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
	background-color: $white;
	height: auto;

	.hero img {
	    display: inline-block;
	}
	.text-wrapper {
    	position: absolute;
    	top: 15%;
    	left: 62%;
    	width: 32%;
    	text-align: center;
    }
    	    h1, p, ul {
    	text-align: center !important;
    	color: $white;
    	opacity: 1;
    	width: 100%;
    }
    h1 {
    	font-family: $serif-font;
    	font-size: 48px;
    	bottom: -344px;
    }
    ul {
    	display: block;
    	width: 25%;
    	bottom: -460px;
    	padding: 0px 0px 0px 0px;
    	margin: 0px 0px 0px 0px;
    	margin: 0 43% 0 43%;
    }
    li {
    	position: relative;
    	float: left;
    }
    .heart {
    	display: block;
    	width: 40px;
    	height: 18px;
    	text-align: right;
    	padding-top: 2px;
    	margin-right: 10px;
    	background: url(#{$img}icon-heart.png) no-repeat;
    }
    .comment {
    	display: block;
    	width: 32px;
    	height: 18px;
    	text-align: right;
    	padding-top: 2px;
    	background: url(#{$img}icon-comment.png) no-repeat;
    }
    p {
    	font-family: $serif-font;
    	font-size: 24px;
    	font-weight: lighter;
    	bottom: -420px;
    }
    .comment {
    	background: url(#{$img}icon-comment-white.png) no-repeat;
    }
    .heart {
    	background: url(#{$img}icon-heart-white.png) no-repeat;
    }
    .heart:hover, .comment:hover {
        background-position: 0px -18px
    }
    .facebook:hover {
        background-position: 0px -19px
    }
    
}

.event-panel {
	margin: 50px 90px 50px 90px;
	padding: 0px 0px 0px 0px;
	background-color: #FF695A;
    height: 42.5vw;
    display: block;
    &:hover {
        background-color: #FF695A;
    }

	.text-wrapper {
    	position: absolute;
        margin: 20% 10% 0 10%;
    	width: 80%;
    	text-align: center;
    }
    h7 {
    font-size: 14px;
    font-family: $bold-font;
    color: $white;
    text-transform: uppercase;
    }
    .right {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    	    h1, p, ul {
    	text-align: center !important;
    	color: $white;
    	opacity: 1;
    	width: 100%;
    }
    h1 {
    	font-family: $serif-font;
    	font-size: 48px;
    	bottom: -344px;
    }
    ul {
    	display: block;
    	width: 25%;
    	bottom: -460px;
    	padding: 0px 0px 0px 0px;
    	margin: 0px 0px 0px 0px;
    	margin: 0 43% 0 43%;
    }
    li {
    	position: relative;
    	float: left;
    }
    .heart {
    	display: block;
    	width: 40px;
    	height: 18px;
    	text-align: right;
    	padding-top: 2px;
    	margin-right: 10px;
    	background: url(#{$img}icon-heart.png) no-repeat;
    }
    .comment {
    	display: block;
    	width: 32px;
    	height: 18px;
    	text-align: right;
    	padding-top: 2px;
    	background: url(#{$img}icon-comment.png) no-repeat;
    }
    p {
    	font-family: $serif-font;
    	font-size: 24px;
    	font-weight: lighter;
    	bottom: -420px;
    }
    .comment {
    	background: url(#{$img}icon-comment-white.png) no-repeat;
    }
    .heart {
    	background: url(#{$img}icon-heart-white.png) no-repeat;
    }
    .heart:hover, .comment:hover {
        background-position: 0px -18px
    }
    .facebook:hover {
        background-position: 0px -19px
    }
}

// Nutrition Plan - "What's Inside" Hero //

.nutrition-point1 {
	.point-hero {
		position: relative;
		.hero-image {
			width: 100%
		}
		.tagline {
			position: absolute;
			margin: auto;
			top: -12%;
			right: 0;
			bottom: 0;
			left: -10%;
			width: 53%;
			height: 163px;
			p {
				span:first-child {
					font-size: 24px;
					/*line-height: 1;*/
				}
				span:nth-of-type(2) {
					font-size: 36px;
					&:before, &:after {
						content: '';
						height: 10px;
						border-bottom: 1px solid #979797;
						width: 36px;
						display: inline-block;
						margin-bottom: 1vw;
					}
					&:after {
						margin-left: 2vw;
					}
					&:before {
						margin-right: 2vw;
					}
				}
				span:last-child {
					font-size: 64px;
				}
			}
		}
		.more-info-container {
			position: absolute;
			.logo {
				cursor: pointer;
			}
			.info-container {
				margin: 0 auto;
				width: 334px;
				background-color: #fff;
				padding: 7% 4% 3.2% 4%;
				border-radius: 10px;
				margin-top: 4.7%;
				p:nth-child(1) {
					font-size: 12px;
				}
				p:nth-child(2) {
					font-size: 18px;
				}
			}
		}
		.more-info1 {
			top: 31%;
			left: 16%;
			display: none;
		}
		.more-info2 {
			top: 3%;
			left: 62%;
			display: none;
		}
		.more-info3 {
			top: 61%;
			left: 61%;
            display: none;
		}
	}
} 

// Nutrition Plan Join Hero

.nutrition-plan-hero {
	position: relative;
	/*float: left;*/
	margin: 2.8% 0;
	padding: 0px 0px 0px 0px;
	background-color: $white;
	/*height: auto;*/

	.hero img {
	    display: inline-block;
	}
    
	.cta-wrapper {
		position: absolute;
		z-index: 20;
		width: 41%;
		top: 10%;
		left: 10%;
	}
	h1 {
		display: block;
	}
	p {
		display: block;
		font-family: $serif-font;
		font-size: 21px;
		text-align: center;
		width: 74%;
		margin: 5% 13% 5% 13%;
	}
	.logo {
		display: block;
		float: left;
		margin-right: 20px;
	}
	.btn-action {
		/*display: block;
		width: 50%;
		margin: 0 25% 0 25%;*/
		cursor: pointer;
	}
}

.profile {
    .header{
        .hero{ 
            max-height: 400px;
        }
    }
}

.article-single, .profile {
    .header{
        position: relative;
        width:100%;
        .hero{
            height:$hero-height;
            min-height:#{$hero-min-height}; 
            background:url(#{$img}workouts/single-hero.png) no-repeat top center;
            background-size: cover;
        }
        .title-wrapper{
            position: relative;
            top:-60px;
            left:0;
            width:100%;
            .title-box{
                width:65%;
                left:0;
                background-color:#{$background};
                margin: 0 auto;
                h1{ 
                    margin:0;
                    padding:20px 10px 0 10px;
                    font-family:#{$serif-font};
                    font-size: 42px;
                    text-align:center;  
                }
                .byline{
                    margin-top:35px;
                    text-align: center;
                    font-family: #{$bold-font};
                    text-transform: uppercase;
                    font-size: 12px;
                    color: #{$med-gray};
                    .author, .category{
                        color: #{$turquoise};
                    }
                }
                .social-wrapper{
                    position: relative;
                    bottom: 0;
                    right: 0;
                    width:170px;
                    height:20px;
                    margin:37px auto 0 auto;
                }
            }
        }
    }
    .body{
        /*width:65%;*/
        width: 87.638888888889%;
        margin:0 auto;
        background-color: #{$white};
        padding: 20px 15px;
        h2{
            font-size:20px;
            text-transform: capitalize;
            font-family: #{$bold-font};
            
        }
        p{
            font-size:18px;
            font-family: #{$main-font}; 
            
            b,strong{
                font-family: #{$bold-font};
            }
        }
        img{
            float:none;
            height:auto;
            display: block;
            margin: 20px auto;
        }
        iframe{
            display: block;
            margin:20px auto;
        }
        .vid, .embed-container{
            margin: 20px 0;
            iframe{
                width:100%;
                min-height:465px;
            }
        }
    }
    .crp_related{
        margin-top:50px; 
        ul {
            margin-top:20px;
            width:100%;
            li {
                box-shadow: none;
                border-radius: 0;
                width: 30%;
                min-height:26vw;
                padding: 0;
                margin-right:2% !important;
                background-color:$white;
                a{
                    width:100%;
                    height:17vw;
                    img{
                        padding: 0;
                        margin: -5% -10%;
                        border-radius:0;
                        max-width: none !important;
                        max-height: none!important;
                        height: auto;
                        width: 125%;

                    }
                }
                .crp_title{
                    left:0;
                    height: auto;
                    padding: 5px 5px;
                    border-radius:0;
                    background: none;
                    color:$soft-black;
                    text-shadow: none;
                    box-shadow: none;
                    font-family:$serif-font;
                    font-size:28px;
                }
            }
        }
    }
}

// Recipes & Homepage Carousels

.recipes-carousel, #home-carousel {
    .info{
        position: absolute;
        bottom: 14%;
        right: 0%;
        width: 22%;
        text-align: center;
        color: #{$white};
        font-size:13px;
        font-family: #{$main-font};
        h2{
            width: 100%;
            font-family: #{$serif-font};
            font-size:36px;
        }
        .byline{
            display: block;
            font-family: #{$bold-font}; 
        }
        .byline, .blurb{
            margin:25px 0 0 0;
        }
        .social-wrapper {
            position: absolute;
            bottom: -49px;
            left: 0px;
            width: 100%;
            .heart {
                background: url(../images/icon-heart-white.png) no-repeat;
            }
            .comment {
                background: url(../images/icon-comment-white.png) no-repeat;
            }
            .bookmark {
                background: url(../images/bookmark-white.png) no-repeat;
            }
            .heart, .comment, .bookmark {
                color: #fff;
            }
            li:last-of-type {
                margin-right: 0;
            }
        }
    }
}

// Recipes & Workouts Hero

#recipes-landing, #workouts-landing, #community-landing-wrapper {
    .hero{
        height: #{$hero-height};
        min-height:#{$hero-min-height}; 
        background:url(#{$img}recipes/g-hero.jpg) no-repeat center center;
        background-size: cover;
        position: relative;
        text-align: center;
        .title-container {
            position: absolute;
            width: 434px;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: 64%;
            img {
                display: inline-block;
            }
            h1{
                /*position: absolute;
                top: 20%;
                left: 50%;*/
                text-align: center;
                font-family:#{$serif-font};
                color: #fff;
                font-size: 58px;
                display: inline-block;
                vertical-align: bottom;
                margin-left: 5px;
                /*margin: 0 0 0 -215px;*/
                /*height: 86px;*/
                /*padding-left:226px;*/
                /*background: url(#{$img}g-header-logo.png) no-repeat 0 19px;*/
                /*background: url(#{$img}tiu-logo-white2.png) no-repeat 0 19px;*/
                span.logo{
                    width: 0;
                    display: inline-block;
                    margin: 0 auto;
                    text-indent: -9999px;
                    overflow: hidden;
                }
            }
        }
        &:before {
            @include gradient-overlay(#fff,20%,50%); 
        }
    }
}

/* Comments */
#comments {

    .comment-author img {
        width: 52px;
        height: 52px;
        margin: 0px 0px 0px 0px;
        border-radius: 25px;
    }

    li {
        border: 1px solid #fafafa;
        background-color: #FFF;
        margin-bottom: 5px;
        padding: 18px 18px 26px 18px;
        min-height: 300px;
    }

    li li {
        min-height: 200px;
    }

    .fn {
        color: $turquoise;
        text-transform: uppercase;
        font-family: $bold-font;
        font-size: 12px;
        margin-left: 38px;
    }
 
    .says {
        font-family: $bold-font;
        color: $med-gray;
        text-transform: uppercase;
        font-size: 12px;
        margin-left: 5px;
    }
    .comments-title {
        text-align:  center;
    }
    .comment-list .comment-metadata {
        margin-left: 94px;
    }
    .comment-content {
       margin-left: 94px;

       p {
        font-family: SerifFont;
        font-size: 21px;
        color: #333131;
        color: $soft-black;
       }
    }
    .comment-body {
        clear: both;
    }
    .reply {
        float: left;
        margin: 0 0 20px 88px!important;
    }
    .reply a {
        float: left;
        display: block;
        max-width: 200px;
        min-width: 175px;
        line-height: 34px;
        font-family: $bold-font;
        font-size: 0.88785714285714em;
        background: $white;
        text-transform: uppercase;
        border: solid $turquoise 1px !important;
        color: $turquoise !important;
        border-radius: 26px;
        -moz-border-radius: 26px;
        -webkit-border-radius: 26px;
        text-align: center;
        opacity: 1 !important;
        margin: 5px 0 0 5px;
        padding: 4px 10px 0px 10px !important;
        border: none;

        &:hover {
            color: $white !important;
            background: $dark-turquoise !important;
        }
    }
}

// Page Body Navs - Search Results and Community Landing

.search-results-container, .discover-groups-container {
    text-align: center;
    & > h2 {
        color: $dark-turquoise;
        font-size: 32px;
        margin: 6vw 0 4vw 0;
    }
    .search-results-nav, .discover-groups-nav {
        margin-bottom: 6vw;
        li {
            display: inline-block;
            vertical-align: top;
            font-size: 12px;
            margin-right: 20px;
        }
        li.active {
            font-family: $bold-font;
            -webkit-transition: color .4s ease;
            -o-transition: color .4s ease;
            transition: color .4s ease;
            cursor: pointer;
            a {
                text-decoration: none;
            }
            &:hover {
                color: $turquoise;
                &:after {
                    opacity: 1;
                }
            }
            &:after {
                @include nav-hover-arrow;
            }
            span {
                margin-left: 5px;
                color: $med-gray;
            }
        }
        li.inactive {
            cursor: default;
            color: $med-gray-alpha;
        }
    }
    .results-list {
        .result-item {
            height: 120px;
            background-color: #fff;
            width: 833px;
            margin: 0 auto;
            position: relative;
            margin-bottom: 6px;
            .user-image {
                position: absolute;
                width: 78px;
                height: 78px;
                border-radius: 50%;
                left: 5.5%;
                top: 20px;
                background-size: cover;
                background-position: center;
            }
            .result-info {
                text-align: left;
                margin-left: 28%;
                padding-top: 1.65%;
                line-height: 1.35;
                position: relative;
                .city, .member-status {
                    font-size: 12px;
                    color: $med-gray;
                    font-family: $bold-font;
                }
                .author {
                    font-size: 12px;
                    font-family: $bold-font;
                    span:nth-of-type(1) {
                        margin-right: 3px;
                    }
                }
                .friend-button {
                    display: block;
                    position: absolute;
                    right: 4%;
                    top: 27%;
                    width: 133px;
                    min-width: 0;
                    height: 33px;
                    padding-top: 1px;
                    text-decoration: none;
                    background-color: transparent;
                    border: 1px solid $turquoise;
                    color: $turquoise;
                    padding: 0px;
                    font-size: 12px;
                }
                .join-button {
                    @extend .friend-button;
                    background-color: $background;
                    border: none;
                    color: #000;
                    padding-top: 0 !important;
                }
                .social-wrapper {
                    position: absolute;
                    top: 87px;
                    left: 0;
                }
            }
            .thumbnail-image {
                width: 183px;
                height: 93px;
                position: absolute;
                display: block;
                left: 1.1%;
                top: 11%;
                background-size: cover;
                background-position: center;
            }
            h4 {
                font-size: 21px;
                font-family: $serif-font;
                margin-bottom: 11px;
            }
            .group-name {
                margin-top: 0;
                margin-bottom: 42px;
            }
            .recipe-title {
                margin-top: 0;
                margin-bottom: 13px;
            }
            .group-member-image {
                width: 24px;
                height: 24px;
                display: inline-block;
                border-radius: 50%;
                margin-right: 4px;
                background-size: cover;
                background-position: center;
            }
            .group-member-names {
                display: inline-block;
                vertical-align: top;
                line-height: 2.2;
                margin-left: 9px;
                font-size: 12px;
                font-family: $bold-font;
                color: $med-gray;
            }
        }
        .view-more-results-button {
            width: 250px;
            height: 41px;
            display: inline-block;
            font-size: 12px;
            padding: 4px;
            background-color: transparent;
            border: 1px solid $med-gray;
            color: $med-gray;
            text-decoration: none;
            margin-top: 2vw;
        }
    }
    .results-container, .discover-groups-container {
        margin-bottom: 5.5vw;
        & > h3 {
            font-family: $bold-font;
            font-size: 20px;
            letter-spacing: 2px;
            margin-bottom: 2.2vw;
            span {
                color: $med-gray;
                margin-left: 15px;
            }
        }
        .results-list {
            .result-item {
                height: 120px;
                background-color: #fff;
                width: 833px;
                margin: 0 auto;
                position: relative;
                margin-bottom: 6px;
                .user-image {
                    position: absolute;
                    width: 78px;
                    height: 78px;
                    border-radius: 50%;
                    left: 5.5%;
                    top: 20px;
                    background-size: cover;
                    background-position: center;
                }
                .result-info {
                    text-align: left;
                    margin-left: 28%;
                    padding-top: 1.65%;
                    line-height: 1.35;
                    position: relative;
                    .city, .member-status {
                        font-size: 12px;
                        color: $med-gray;
                        font-family: $bold-font;
                    }
                    .author {
                        font-size: 12px;
                        font-family: $bold-font;
                        span:nth-of-type(1) {
                            margin-right: 3px;
                        }
                    }
                    .friend-button {
                        display: block;
                        position: absolute;
                        right: 4%;
                        top: 27%;
                        width: 133px;
                        min-width: 0;
                        height: 33px;
                        padding-top: 1px;
                        text-decoration: none;
                        background-color: transparent;
                        border: 1px solid $turquoise;
                        color: $turquoise;
                        padding: 0px;
                        font-size: 12px;
                    }
                    .join-button {
                        @extend .friend-button;
                        background-color: $background;
                        border: none;
                        color: #000;
                    }
                    .social-wrapper {
                        position: absolute;
                        top: 87px;
                        left: 0;
                    }
                }
                .thumbnail-image {
                    width: 183px;
                    height: 93px;
                    position: absolute;
                    display: block;
                    left: 1.1%;
                    top: 11%;
                    background-size: cover;
                    background-position: center;
                }
                h4 {
                    font-size: 21px;
                    font-family: $serif-font;
                    margin-bottom: 11px;
                }
                .group-name {
                    margin-top: 0;
                    margin-bottom: 42px;
                }
                .recipe-title {
                    margin-top: 0;
                    margin-bottom: 13px;
                }
                .group-member-image {
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    border-radius: 50%;
                    margin-right: 4px;
                    background-size: cover;
                    background-position: center;
                }
                .group-member-names {
                    display: inline-block;
                    vertical-align: top;
                    line-height: 2.2;
                    margin-left: 9px;
                    font-size: 12px;
                    font-family: $bold-font;
                    color: $med-gray;
                }
            }
            .view-more-results-button {
                width: 250px;
                height: 41px;
                display: inline-block;
                font-size: 12px;
                padding: 4px;
                background-color: transparent;
                border: 1px solid $med-gray;
                color: $med-gray;
                text-decoration: none;
                margin-top: 2vw;
            }
        }
    }
}

// Styles for Skinned Select Dropdowns (Selectize)

.selectize-control {
    width: 150px;
    &.single {
        .selectize-input.input-active {
            cursor: pointer;
        }
    }
    .selectize-input {
        background-image: none;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        padding-bottom: 5px;
        border: 1px solid #c8c8c8;
        input[type="text"] {
            display: none !important;
        }
    }
    .selectize-dropdown {
        border-radius: 0;
        box-shadow: none;
        .active {
            background-color: transparent;
            color: $turquoise;
        }
    }
}



/* End Comments */

// Footer
footer {
    text-align: right;
    margin-right: 10px;
    font-family: $main-font;
    font-size: 12px;
}








@media (max-width: 768px) {
    #recipes-landing, #workouts-landing {
        .header .hero .title-container {
            width: 274px !important;
            h1 {
                display: block;
                margin-left: 0;
            }
        }
    }
}

/* Mobile */
@media (max-width: $screen-sm-min) {
    .home-wrapper #home-carousel .swiper-slide .info {
        width: 100%!important;
        right: 0%!important;
    }
    .icon img {
        width: 25px;
        height: auto;
    }
    #home-carousel .info h2, .recipes-carousel .info h2 {
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    .swiper-container-horizontal>.swiper-pagination {
        bottom: 6%!important;
    }
}

/* Medium */
@media (min-width: $screen-md-min) { 
    #home-carousel .info, .recipes-carousel .info {
        right: 5%!important;
    }
}

/* Large */
@media (min-width: $screen-lg-min) {
     #home-carousel .info, .recipes-carousel .info {
        right: 5%!important;
    }

    .container {
        width: 100% !important;
        /* overflow-x: hidden; */
    }

}










