#search-page {
	.search-form-container {
		height: 327px;
		background-color: $turquoise;
		position: relative;
		form {
			text-align: center;
			margin: auto;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 65.763888888889%;
			height: 118px;
			.input-group {
				width: 100%;
				img {
					position: absolute;
					left: 12px;
					bottom: 18px;
					cursor: pointer;
				}
				.search-field {
					background-color: transparent;
					border: none;
					box-shadow: none;
					border-bottom: 1px solid #fff;
					font-size: 48px;
					color: #fff;
					text-align: center;
					height: 100%;
					border-radius: 0;
					font-family: $serif-font;
					&::-webkit-input-placeholder {
						color: #fff;
					}
					&:-moz-placeholder {
						color: #fff;  
					}
					&::-moz-placeholder {
						color: #fff;  
					}
					&:-ms-input-placeholder {  
						color: #fff;  
					}
				}
				.input-group-btn {
					display: none;
				}
			}
		}
	}
}

[placeholder]:focus::-webkit-input-placeholder {
	opacity: 0;
}

// Mobile

@media (max-width: 900px) {
	#search-page .search-results-container .results-container .results-list .result-item {
		width: 92.2%;
	}
}