#shop-success-stories-detail-wrapper {
	background-color: #fff;
	padding-top: 4%;
	overflow: hidden;
	.success-stories {
		heading {
			margin-bottom: 1.485535574668%;
			font-size: 24px;
		}
		heading + p {
			width: 47.693510555121%;
		    margin: 0 auto;
		    text-align: center;
		    font-size: 18px;
		    margin-bottom: 3.5%;
		}
		.story-hero-image {
			width: 100%;
		}
	}
}