#your-shopping-cart {
	#main {
		background-color: #fff;
		padding: 4.63% 9.652777777778% 12% 9.652777777778%;
		& > h1 {
			font-family: $bold-font;
			letter-spacing: 3px;
			margin-bottom: 2.5%;
		}
		form {
			thead {
				th {
					font-family: $bold-font;
					letter-spacing: 0.07em;
					font-size: 16px;
					text-align: center;
					padding-bottom: 7px;
				}
			}
			tbody {
				tr {
					border-top: 1px solid $color-check-in;
					border-bottom: 1px solid $color-check-in;
					td:first-of-type {
						// width: 28.8%;
						width: 288px;
						.product-image {
							display: block;
							width: 100%;
							height: 213px;
							background-size: cover;
							background-repeat: no-repeat;
							background-position: center;
							margin: 16.9% 0;
						}
					}
					td.product-name {
						padding-left: 5.5%;
						padding-right: 5.5%;
						// width: 46.5%;
						h2 {
							font-family: $serif-font;
							font-size: 24px;
							color: $turquoise;
							line-height: 1.2;
						}
					}
					td.product-price, td.product-quantity, td.product-total {
						text-align: center;
						font-size: 18px;
						// width: 9.67987804878%;
						// width: 120px;
					}
					td.product-quantity {
						width: 170px;
						input {
							width: 45%;
							min-width: 41px;
						    text-align: center;
						    border-radius: 8px;
						    padding-top: 4px;
						    height: 41px;
						    border: 1px solid $color-check-in;
						}
					}
					td.product-remove {
						// width: 7%;
						width: 83px;
						text-align: right;
					}
				}
			}
			.total-container {
				padding: 6.4% 0;
				margin-bottom: 5.1%;
				border-bottom: 1px solid $color-check-in;
				.currency-notice {
					font-size: 18px;
					color: $med-gray;
					font-family: $bold-font;
					text-align: right;
					width: 65%;
					float: right;
					margin-bottom: 3.1%;
				}
				.total-price {
					clear: both;
					text-align: right;
					span:first-of-type {
						font-size: 16px;
						font-family: $bold-font;
						margin-right: 25px;
					}
					span:nth-of-type(2) {
						font-size: 36px;
						font-family: $serif-font;
						color: $turquoise;
					}
				}
			}
			.checkout-button {
				font-size: 13px;
				height: 40px;
				width: 160px;
				display: block;
				line-height: 1.3;
				padding-top: 6px;
				border: none;
				float: right;
			}
		}
	}
}

// Mobile

@media (max-width: 767px) {
	.template-cart, #your-shopping-cart {
		#main {
			padding-bottom: 27%;
			.hide-on-small {
				display: none;
			}
			.product-name .delta {
				margin: 11px 0;
			}
			form table thead tr {
				.quantity {
					display: none;
				}
			}
			form tbody tr td.product-name h2 {
				font-size: 22px;
			}
			form tbody tr td.product-name {
				padding: 0;
			}
			form .total-container .currency-notice {
				width: 100%;
			}
		}
	}
}